body{
   background-color: rgb(47,79,79);
}
header h1{
    text-align: center;
    background-color: lightslategray;
    color: rgb(135,206,235);
    letter-spacing: 0.3em;
    margin-top: -8px;
}
thead{
    color: goldenrod;
}
thead tr:hover{
    background-color: teal;
}
table{
    margin: auto 200px;
    border: 1px solid rgb(119,136,153);
}
td{
    border: 2px solid rgb(119,136,153);
}
.selector{
    color: rgb(210,180,140);
    font-weight: bold;
}
.example{
    color: #F5F5DC;
    font-weight: normal;
}
.exampled{
    color: darkkhaki;
}